.vright {
    border-right: 3px solid black;
    height: 100%;
}

.vleft {
    border-left: 3px solid black;
    height: 100%;
}

.col { 
	border: 1px solid transparent; 
}

.row{
	height: 90%;
}

.chat {
	border:1px solid #333;
	margin: auto;
	width:80%;
	height:80%;
	background:#555;
	color:#fff;
}

.chat-messages {
	min-height:93%;
	max-height:93%;
	overflow:auto;
}

.chat-messages__content {
	padding:1px;
}

.chat__message {
	border-left:3px solid #333;
	margin-top:2px;
	padding:2px;
}

.chat__message_black {
	border-color:#000;
}

.chat__message_blue {
	border-color:blue;
}

.chat__message_green {
	border-color:green;
}

.chat__message_red {
	border-color:red;
}

.chat-input {
	min-height:6%;
	padding: 10px;
}
input {
	font-family:arial;
	font-size:16px;
	vertical-align:middle;
	background:#333;
	color:#fff;
	border:0;
	display:inline-block;
	margin:1px;
	height:30px;
}

.chat-form__input {
	width:80%;
	padding: 5px;
}

.chat-form__submit {
	width:18%;
}